<link rel="stylesheet" href="./style/perfil.css" type="text/css">

<p>O dono desse perfil é <span class="degrade"><%= pessoa[0].nome %></span></p>    
<p> de <span class="degrade"><%= pessoa[0].numeroPizzas %></span> anos </p>
